* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 100%;
  height: 1024px;
  background: linear-gradient(
    to right,
    #8a2be2,
    rgba(214, 194, 255, 0.8999999761581421)
  );
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_2_1 {
  font-size: 25px;
}
a {
  color: white; /* Atur warna teks link menjadi putih */
}
.v1_3 {
  width: 210px;
  height: 176px;
  background: rgba(93, 47, 121, 1);
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 1250px;
}
.v1_4 {
  width: 210px;
  height: 176px;
  background: rgba(93, 47, 121, 1);
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 1000px;
}
.v1_5 {
  width: 438px;
  height: 961px;
  background: rgba(93, 47, 121, 1);
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 37px;
}
.v1_6 {
  width: 255px;
  height: 253px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 128px;
  border-radius: 50%;
}
.v1_7 {
  width: 264px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 333px;
  left: 134px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v1_8 {
  width: 361px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 440px;
  left: 85px;
  font-family: Poppins;
  font-weight: Bold;
  opacity: 1;
  text-align: left;
  font-size: 20px;
}

.v1_10 {
  width: 1380px;
  height: 752px;
  background: rgba(93, 47, 121, 1);
  opacity: 1;
  position: absolute;
  top: 240px;
  left: 520px;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_22 {
  width: 228px;
  height: 196px;
  background: url("../images/v1_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 109px;
  left: 142px;
  overflow: hidden;
}
.v1_23 {
  width: 396px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 281px;
  left: 990px;
}
.v1_24 {
  width: 24px;
  height: 24px;
  background: rgba(234, 234, 239, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v1_25 {
  width: 7px;
  height: 9px;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 9px;
  border: 1px solid rgba(255, 255, 255, 1);
}
.v1_26 {
  width: 99px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 3px;
  left: 149px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_27 {
  width: 24px;
  height: 24px;
  background: rgba(234, 234, 239, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 450px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}

.v1_28 {
  width: 7px;
  height: 9px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 25px;
  border: 1px solid rgba(255, 255, 255, 1);
}
.v1_29 {
  width: 780px;
  height: 506px;
  opacity: 1;
  position: absolute;
  top: 386px;
  left: 773px;
}
.v1_30 {
  width: 98px;
  height: 440px;
  opacity: 1;
  position: absolute;
  top: 49px;
  left: 30px;
}
.v1_31 {
  width: 65px;
  position: absolute;
  top: 0px;
  left: 20px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_32 {
  width: 13px;
  position: absolute;
  top: 30px;
  left: 43px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_33 {
  width: 13px;
  position: absolute;
  top: 95px;
  left: 43px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_34 {
  width: 21px;
  position: absolute;
  top: 160px;
  left: 39px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_35 {
  width: 21px;
  position: absolute;
  top: 225px;
  left: 38px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_36 {
  width: 21px;
  position: absolute;
  top: 290px;
  left: 38px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_37 {
  width: 98px;
  height: 440px;
  opacity: 1;
  position: absolute;
  top: 49px;
  left: 153px;
  font-size: 24;
  color: #fff;
}
.v1_38 {
  width: 47px;
  position: absolute;
  top: 0px;
  left: 26px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_39 {
  width: 13px;
  position: absolute;
  top: 30px;
  left: 43px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_40 {
  width: 13px;
  position: absolute;
  top: 95px;
  left: 43px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_41 {
  width: 21px;
  position: absolute;
  top: 160px;
  left: 39px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_42 {
  width: 21px;
  position: absolute;
  top: 225px;
  left: 38px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_43 {
  width: 21px;
  position: absolute;
  top: 290px;
  left: 38px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_44 {
  width: 98px;
  height: 440px;
  opacity: 1;
  position: absolute;
  top: 49px;
  left: 276px;
  font-size: 24;
  color: #fff;
}
.v1_45 {
  width: 60px;
  position: absolute;
  top: 0px;
  left: 18px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_46 {
  width: 13px;
  position: absolute;
  top: 30px;
  left: 43px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_47 {
  width: 13px;
  position: absolute;
  top: 95px;
  left: 43px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_48 {
  width: 21px;
  position: absolute;
  top: 160px;
  left: 39px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_49 {
  width: 21px;
  position: absolute;
  top: 225px;
  left: 38px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_50 {
  width: 21px;
  position: absolute;
  top: 290px;
  left: 38px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_51 {
  width: 98px;
  height: 440px;
  opacity: 1;
  position: absolute;
  top: 49px;
  left: 399px;
  font-size: 24;
  color: #fff;
}
.v1_52 {
  width: 60px;
  position: absolute;
  top: 0px;
  left: 18px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_53 {
  width: 13px;
  position: absolute;
  top: 30px;
  left: 43px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_54 {
  width: 13px;
  position: absolute;
  top: 95px;
  left: 43px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_55 {
  width: 21px;
  position: absolute;
  top: 160px;
  left: 39px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_56 {
  width: 21px;
  position: absolute;
  top: 225px;
  left: 38px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_57 {
  width: 21px;
  position: absolute;
  top: 290px;
  left: 38px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_58 {
  width: 98px;
  height: 440px;
  opacity: 1;
  position: absolute;
  top: 49px;
  left: 522px;
  color: #fff;
  font-size: 24;
}
.v1_59 {
  width: 39px;
  position: absolute;
  top: 0px;
  left: 30px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_60 {
  width: 13px;
  position: absolute;
  top: 30px;
  left: 43px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_61 {
  width: 13px;
  position: absolute;
  top: 95px;
  left: 43px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_62 {
  width: 21px;
  position: absolute;
  top: 160px;
  left: 39px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_63 {
  width: 21px;
  position: absolute;
  top: 225px;
  left: 38px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_64 {
  width: 21px;
  position: absolute;
  top: 290px;
  left: 38px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_65 {
  width: 98px;
  height: 440px;
  opacity: 1;
  position: absolute;
  top: 49px;
  left: 645px;
  color: #fff;
  font-size: 24;
}
.v1_66 {
  width: 46px;
  position: absolute;
  top: 0px;
  left: 26px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_67 {
  width: 13px;
  position: absolute;
  top: 30px;
  left: 43px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_68 {
  width: 13px;
  position: absolute;
  top: 95px;
  left: 43px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_69 {
  width: 21px;
  position: absolute;
  top: 160px;
  left: 39px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_70 {
  width: 21px;
  position: absolute;
  top: 225px;
  left: 38px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_71 {
  width: 21px;
  position: absolute;
  top: 290px;
  left: 38px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_72 {
  width: 98px;
  height: 440px;
  opacity: 1;
  position: absolute;
  top: 49px;
  left: 768px;
  color: #fff;
  font-size: 24;
}
.v1_73 {
  width: 48px;
  position: absolute;
  top: 0px;
  left: 25px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_74 {
  width: 13px;
  position: absolute;
  top: 30px;
  left: 43px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_75 {
  width: 13px;
  position: absolute;
  top: 95px;
  left: 43px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_76 {
  width: 21px;
  position: absolute;
  top: 160px;
  left: 39px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_77 {
  width: 21px;
  position: absolute;
  top: 225px;
  left: 38px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_78 {
  width: 21px;
  position: absolute;
  top: 290px;
  left: 38px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  color: #fff;
}
.v1_79 {
  width: 112px;
  height: 83px;
  background: url("../images/v1_79.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 49px;
  left: 1054px;
  overflow: hidden;
}
.v1_80 {
  width: 116px;
  height: 91px;
  background: url("../images/v1_80.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 1298px;
  overflow: hidden;
}
.v1_81 {
  width: 115px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 154px;
  left: 1075px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_82 {
  width: 578px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 154px;
  left: 1295px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
